

<ion-header class="ion-no-border">
  <ion-toolbar  color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>profile</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container2">
    <ion-button routerLink="/register">
     Jouer seul
    </ion-button>
  </div>
  <ion-label></ion-label>
  <div class="container3">
    <ion-button routerLink="/ranking">
     Voir le classement
    </ion-button>
  </div>
  <br> <br> <br>
  <div class="container4">
    <ion-button class="button2" routerLink="/question">
      Proposer une question
    </ion-button>
  </div>
  
  <div class="container5">
    <ion-button class="button2" routerLink="/dual">
      Inviter des ami(e)s
    </ion-button>


  </div>
  





  <!-- <div class="container3">
    <ion-card class="card1">
    </ion-card>
  </div> -->


</ion-content>
