<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-menu-toggle>
          <div class="container">
            <div class="row">
              <div class="fl">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
            </div>
            <div class="title">
              <h2>Mboa Culture </h2>
              <!-- <p>1920L013</p> -->
            </div>
            <br>
            <br>
            <br>
<!--
            <div class="data">
              <span>Ingénieur</span>
              <span class="mx-1">-</span>
              <span>niveau 4</span>
              <span class="mx-1">-</span>
              <span>ISI</span>
            </div> -->
          </div>
          <ion-list lines="none">
            <ion-item routerLink="/home/rubriques">
              <ion-icon name="add" color="dark"></ion-icon>

              <span>Rubriques</span>
            </ion-item>
            <ion-item routerLink="/onboarding">
              <ion-icon name="add" color="dark"></ion-icon>

              <span>Accueil</span>
            </ion-item>

            <!-- <ion-item routerLink="/categories">
              <ion-icon name="basket-outline" color="dark"></ion-icon>
              <span>Catégories</span>
            </ion-item> -->

            <ion-item routerLink="/home/parametres">
              <ion-icon name="settings-outline" color="dark"></ion-icon>
              <span>Paramètres</span>
            </ion-item>

            <ion-item routerLink="/profile">
              <ion-icon name="user" color="dark"></ion-icon>
              <span>Profil</span>
            </ion-item>



            <ion-item lines="none" >
              <ion-icon name="moon-outline" color="dark"></ion-icon>
              <ion-label>
                <h2>
                  <ion-toggle justify="space-between" (ionChange)="toggleTheme($event)" mode="ios">
                    <span>Dark Mode ?</span>
                  </ion-toggle>
                </h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
